header {
  background-color: #035d85; /* Dark blue background */
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 1200px;
}

.logo img {
  max-width: 80px; /* Adjust logo size */
  margin-right: 15px;
}

.title {
  display: flex;
  align-items: center;
}

.title h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
